.background {
    background-image: linear-gradient(90deg, #00acee , rgba(0,170,238,0.2));
}

.col-sm-4 {
    position: relative;
    top:100px;
}

.form-container {
    padding: 30px 30px 30px 30px;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
}